In [11]:
import pandas as pd

a = pd.DataFrame({
    'apple' : [1, 2, 3, 4, 5],
    'banana' : [4, 5, 6, 7, 8]
})
b = pd.DataFrame({
    'apple' : [1, 2, 3],
    'pineapple' : [7, 8, 9]
})

a.to_csv('a.csv', index=True, sep='\t')
b.to_csv('a.csv', index=True, sep='\t')

In [5]:
pd.concat([a, a], axis=0)

   apple  banana
0      1       4
1      2       5
2      3       6
0      1       4
1      2       5
2      3       6

In [12]:
pd.merge(a, b, how='inner')

   apple  banana  pineapple
0      1       4          7
1      2       5          8
2      3       6          9

In [5]:
import pandas as pd
df = pd.read_excel('save_accuracy.xlsx', index_col='Unnamed: 0')
df

,model_name,learning_rate,batch_size_train,step,accuracy
0,distilbert-base-uncased,0.00003,16,50,71.937637
1,distilbert-base-uncased,0.00003,16,100,84.691910
2,distilbert-base-uncased,0.00003,16,150,85.731255
3,distilbert-base-uncased,0.00003,16,200,86.057907
4,distilbert-base-uncased,0.00003,16,250,87.527840
...,...,...,...,...,...
2166,M-CLIP/M-BERT-Distil-40,0.00009,64,2600,88.168022
2167,M-CLIP/M-BERT-Distil-40,0.00009,64,2700,88.301369
2168,M-CLIP/M-BERT-Distil-40,0.00009,64,2800,88.219299
2169,M-CLIP/M-BERT-Distil-40,0.00009,64,2900,88.342392
2170,M-CLIP/M-BERT-Distil-40,0.00009,64,3000,88.239822

In [18]:
filt = (df['model_name']=='M-CLIP/M-BERT-Distil-40') & (df['step']<3000) & (df['batch_size_train'] ==64) & (df['learning_rate']==1e-5)
filt = (df['model_name']=='M-CLIP/M-BERT-Distil-40') & (df['step']>4000)

k = []
count=0
for i in range(len(filt)):
    if filt[i] == True:
        count+=1
        k.append(i)
count, k

(79,
 [1805,
  1806,
  1807,
  1808,
  1809,
  1810,
  1811,
  1812,
  1813,
  1814,
  1815,
  1816,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  2023,
  2024,
  2025,
  2026,
  2027,
  2028,
  2029,
  2030,
  2031,
  2032,
  2033,
  2034,
  2035,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2048,
  2049,
  2050,
  2051,
  2052,
  2053,
  2054,
  2055,
  2056,
  2057,
  2058,
  2059,
  2060,
  2061,
  2102,
  2103,
  2104,
  2105,
  2106,
  2107,
  2108,
  2109,
  2110])

In [27]:
# df.drop(index=k, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.to_excel('save_accuracy.xlsx')
df

,model_name,learning_rate,batch_size_train,step,accuracy
0,distilbert-base-uncased,0.00003,16,50,71.937637
1,distilbert-base-uncased,0.00003,16,100,84.691910
2,distilbert-base-uncased,0.00003,16,150,85.731255
3,distilbert-base-uncased,0.00003,16,200,86.057907
4,distilbert-base-uncased,0.00003,16,250,87.527840
...,...,...,...,...,...
2087,M-CLIP/M-BERT-Distil-40,0.00009,64,2600,88.168022
2088,M-CLIP/M-BERT-Distil-40,0.00009,64,2700,88.301369
2089,M-CLIP/M-BERT-Distil-40,0.00009,64,2800,88.219299
2090,M-CLIP/M-BERT-Distil-40,0.00009,64,2900,88.342392
2091,M-CLIP/M-BERT-Distil-40,0.00009,64,3000,88.239822

In [20]:
df

,model_name,learning_rate,batch_size_train,step,accuracy
0,distilbert-base-uncased,0.00003,16,50,71.937637
1,distilbert-base-uncased,0.00003,16,100,84.691910
2,distilbert-base-uncased,0.00003,16,150,85.731255
3,distilbert-base-uncased,0.00003,16,200,86.057907
4,distilbert-base-uncased,0.00003,16,250,87.527840
...,...,...,...,...,...
2166,M-CLIP/M-BERT-Distil-40,0.00009,64,2600,88.168022
2167,M-CLIP/M-BERT-Distil-40,0.00009,64,2700,88.301369
2168,M-CLIP/M-BERT-Distil-40,0.00009,64,2800,88.219299
2169,M-CLIP/M-BERT-Distil-40,0.00009,64,2900,88.342392
2170,M-CLIP/M-BERT-Distil-40,0.00009,64,3000,88.239822